<div class='action-points'>action points: {{model.actionPoints}}</div>

<div class='strike-rank'>strike rank: {{model.strikeRank}}</div>

<div class='damage-modifier'>damage modifier: {{model.damageModifier}}</div>

<div class='experience-modifier'>experience modifier: {{model.experienceModifier}}</div>

<div class='healing-rate'>healing rate: {{model.healingRate}}</div>

<div class='luck-points'>luck points: {{model.maxLuckPoints}}</div>

<div class='magic-points'>magic points: {{model.maxMagicPoints}}</div>
