<div class='strength'><label>strength: {{input type='number' min='0' value=model.strength}}</label></div>

<div class='constitution'><label>constitution: {{input type='number' min='0' value=model.constitution}}</label></div>

<div class='size'><label>size: {{input type='number' min='0' value=model.size}}</label></div>

<div class='dexterity'><label>dexterity: {{input type='number' min='0' value=model.dexterity}}</label></div>

<div class='intelligence'><label>intelligence: {{input type='number' min='0' value=model.intelligence}}</label></div>

<div class='power'><label>power: {{input type='number' min='0' value=model.power}}</label></div>

<div class='charisma'><label>charisma: {{input type='number' min='0' value=model.charisma}}</label></div>
