{{character-sheet-rule-set model=model}}
{{character-sheet-description model=model}}
{{character-sheet-characteristics model=model}}
{{character-sheet-attributes model=model}}
{{character-sheet-hit-points model=model}}

<div class='notes'><label>notes: {{textarea value=autosaveModel.notes}}</label></div>
