<div class='strength'><label>strength: {{input type='number' min='0' value=autosaveModel.strength}}</label></div>

<div class='constitution'><label>constitution: {{input type='number' min='0' value=autosaveModel.constitution}}</label></div>

<div class='size'><label>size: {{input type='number' min='0' value=autosaveModel.size}}</label></div>

<div class='dexterity'><label>dexterity: {{input type='number' min='0' value=autosaveModel.dexterity}}</label></div>

<div class='intelligence'><label>intelligence: {{input type='number' min='0' value=autosaveModel.intelligence}}</label></div>

<div class='power'><label>power: {{input type='number' min='0' value=autosaveModel.power}}</label></div>

<div class='charisma'><label>charisma: {{input type='number' min='0' value=autosaveModel.charisma}}</label></div>
