<h4>Hit Points:</h4>

<div class='hit-points--head'>head: {{model.maxHeadHitPoints}}</div>
<div class='hit-points--chest'>chest: {{model.maxChestHitPoints}}</div>
<div class='hit-points--abdomen'>abdomen: {{model.maxAbdomenHitPoints}}</div>
<div class='hit-points--left-arm'>left arm: {{model.maxLeftArmHitPoints}}</div>
<div class='hit-points--right-arm'>right arm: {{model.maxRightArmHitPoints}}</div>
<div class='hit-points--left-leg'>left leg: {{model.maxLeftLegHitPoints}}</div>
<div class='hit-points--right-leg'>right leg: {{model.maxRightLegHitPoints}}</div>
