<div class='name'><label>name: {{input type='text' value=model.name}}</label></div>

<div class='age'><label>age: {{input type='number' min='1' value=model.age}}</label></div>

<div class='gender'><label>gender: {{input type='text' value=model.gender}}</label></div>

<div class='handedness'><label>handedness: {{input type='text' value=model.handedness}}</label></div>

<div class='frame'><label>frame: {{input type='text' value=model.frame}}</label></div>

<div class='height'><label>height: {{input type='number' min='1' value=model.height}}</label></div>

<div class='weight'><label>weight: {{input type='number' min='1' value=model.weight}}</label></div>

<div class='homeland'><label>homeland: {{input type='text' value=model.homeland}}</label></div>
