<div class='strength'><label>strength: {{input type='number' min='1' value=character.strength}}</label></div>

<div class='constitution'><label>constitution: {{input type='number' min='1' value=character.constitution}}</label></div>

<div class='size'><label>size: {{input type='number' min='1' value=character.size}}</label></div>

<div class='dexterity'><label>dexterity: {{input type='number' min='1' value=character.dexterity}}</label></div>

<div class='intelligence'><label>intelligence: {{input type='number' min='1' value=character.intelligence}}</label></div>

<div class='power'><label>power: {{input type='number' min='1' value=character.power}}</label></div>

<div class='charisma'><label>charisma: {{input type='number' min='1' value=character.charisma}}</label></div>
