<div class='name'><label>name: {{input type='text' value=character.name}}</label></div>

<div class='age'><label>age: {{input type='number' min='1' value=character.age}}</label></div>

<div class='gender'><label>gender: {{input type='text' value=character.gender}}</label></div>

<div class='handedness'><label>handedness: {{input type='text' value=character.handedness}}</label></div>

<div class='frame'><label>frame: {{input type='text' value=character.frame}}</label></div>

<div class='height'><label>height: {{input type='number' min='1' value=character.height}}</label></div>

<div class='weight'><label>weight: {{input type='number' min='1' value=character.weight}}</label></div>

<div class='homeland'><label>homeland: {{input type='text' value=character.homeland}}</label></div>
