<div class='str'><label>str: {{input type='number' value=character.str}}</label></div>

<div class='con'><label>con: {{input type='number' value=character.con}}</label></div>

<div class='siz'><label>siz: {{input type='number' value=character.siz}}</label></div>

<div class='dex'><label>dex: {{input type='number' value=character.dex}}</label></div>

<div class='int'><label>int: {{input type='number' value=character.int}}</label></div>

<div class='pow'><label>pow: {{input type='number' value=character.pow}}</label></div>

<div class='cha'><label>cha: {{input type='number' value=character.cha}}</label></div>
