{{character-sheet-description character=character}}
{{character-sheet-characteristics character=character}}
{{character-sheet-attributes character=character}}
{{character-sheet-hit-points character=character}}

<div class='notes'><label>notes: {{textarea value=character.notes}}</label></div>
