<h4>Hit Points:</h4>

<div class='hit-points--head'>head: {{character.maxHeadHitPoints}}</div>
<div class='hit-points--chest'>chest: {{character.maxChestHitPoints}}</div>
<div class='hit-points--abdomen'>abdomen: {{character.maxAbdomenHitPoints}}</div>
<div class='hit-points--left-arm'>left arm: {{character.maxLeftArmHitPoints}}</div>
<div class='hit-points--right-arm'>right arm: {{character.maxRightArmHitPoints}}</div>
<div class='hit-points--left-leg'>left leg: {{character.maxLeftLegHitPoints}}</div>
<div class='hit-points--right-leg'>right leg: {{character.maxRightLegHitPoints}}</div>
